@import '../../../../node_modules/@angular/material/theming';
@import 'globals';
@import 'snackbar';
//@import 'data-table';

@include mat-core();

.dark-theme {
  $e2-primary: mat-palette($mat-light-blue, 700, 800, 900);
  $e2-accent:  mat-palette($mat-deep-orange, A400);
  $e2-warn:    mat-palette($mat-red, 600, 700, 800);

  $e2-dark-theme: mat-dark-theme($e2-primary, $e2-accent, $e2-warn);

  @include angular-material-theme($e2-dark-theme);
  //@include data-table-theme($e2-dark-theme);
  @include snackbar-theme($e2-dark-theme);
  @include globals-theme($e2-dark-theme);
}

.light-theme {
  $e2-primary: mat-palette($mat-light-blue, 700, 800, 900);
  $e2-accent:  mat-palette($mat-deep-orange, A400);
  $e2-warn:    mat-palette($mat-red, 600, 700, 800);

  $e2-light-theme: mat-light-theme($e2-primary, $e2-accent, $e2-warn);

  @include angular-material-theme($e2-light-theme);
  //@include data-table-theme($e2-light-theme);
  @include snackbar-theme($e2-light-theme);
  @include globals-theme($e2-light-theme);
}
