@import '../../../../node_modules/@angular/material/theming';
@import 'globals';
@import 'snackbar';
@import './data-table';

@include mat-core();

.dark-theme {
  $e2-primary: mat-palette($mat-light-blue, 700, 800, 900);
  $e2-accent:  mat-palette($mat-deep-orange, A400);
  $e2-warn:    mat-palette($mat-red, 600, 700, 800);

  $app-dark-theme: mat-dark-theme($e2-primary, $e2-accent, $e2-warn);

  @include angular-material-theme($app-dark-theme);
  @include data-table-theme($app-dark-theme);
  @include snackbar-theme($app-dark-theme);
  @include globals-theme($app-dark-theme);
}

.light-theme {
  $e2-primary: mat-palette($mat-light-blue, 700, 800, 900);
  $e2-accent:  mat-palette($mat-deep-orange, A400);
  $e2-warn:    mat-palette($mat-red, 600, 700, 800);

  $app-light-theme: mat-light-theme($e2-primary, $e2-accent, $e2-warn);

  @include angular-material-theme($app-light-theme);
  @include data-table-theme($app-light-theme);
  @include snackbar-theme($app-light-theme);
  @include globals-theme($app-light-theme);
}
