<div class="animation-object animated fadeInUp">
  <div class="invisibletop scroll-text word">{{wordList[0]}}</div>
  <div class="fadedtop scroll-text word">{{wordList[1]}}</div>
  <div class="middletop scroll-text word">{{wordList[2]}}</div>
  <div class="mainleft static-word">MAKE</div>
  <div class="mainboxtext word">{{wordList[3]}}</div>
  <div class="mainbox word"></div>
  <div class="mainright static-word"> WORK FOR YOU</div>
  <div class="middlebottom scroll-text word">{{wordList[4]}}</div>
  <div class="fadedbottom scroll-text word">{{wordList[5]}}</div>
  <div class="invisiblebottom scroll-text word">{{wordList[6]}}</div>
</div>
