$height: 210px;
$width: 650px;

$leftColumn: $width * 0.125;
$buffer: $width * 0.01333;
$textBuffer: $width * .01;
$rightColumn: $width * 0.35;
$mainText: ($width - ($leftColumn + ($buffer * 2) + $textBuffer + $rightColumn));

$rowHeight: $height/7;

$lightFade: 0.5;
$mediumFade: 0.85;
:host {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.animation-object {
  position: relative;
  font-size: 1.5em;
  height: $height;
  width: $width;
  display: grid;
  grid-template-areas: ". . . invisibletop . ." ". . . fadedtop . ." ". . . middletop . ." "mainleft . mainboxtext mainboxtext . mainright" ". . . middlebottom . ." ". . . fadedbottom . ." ". . . invisiblebottom . .";
  grid-template-columns: $leftColumn $buffer $textBuffer $mainText $buffer $rightColumn;
  grid-template-rows: $rowHeight $rowHeight $rowHeight $rowHeight $rowHeight $rowHeight $rowHeight;
  font-family: 'Varela Round', sans-serif;
  color: white;

  .invisibletop {
    grid-area: invisibletop;
    animation-name: invisibletop-a;
    opacity: 0;
  }
  .fadedtop {
    grid-area: fadedtop;
    animation-name: fadedtop-a;
    opacity: $lightFade;
  }
  .middletop {
    grid-area: middletop;
    animation-name: middletop-a;
    opacity: $mediumFade;
  }
  .mainleft {
    grid-area: mainleft;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    animation-delay: 1s;
  }
  .mainboxtext {
    grid-area: mainboxtext;
    animation-name: mainboxtext-a;
    padding-left: $textBuffer;
    display: flex;
    align-items: center;
    transition: all 1s ease;
  }

  .mainbox {
    position: absolute;
    width: $mainText + $textBuffer;
    height: $rowHeight;
    top: $rowHeight*3;
    left: $leftColumn + $buffer;
    border: solid 0.1em white;
  }
  .mainright {
    grid-area: mainright;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    animation-delay: 1.5s;
  }
  .middlebottom {
    grid-area: middlebottom;
    animation-name: middlebottom-a;
    opacity: $mediumFade;
  }
  .fadedbottom {
    grid-area: fadedbottom;
    animation-name: fadedbottom-a;
    opacity: $lightFade;
  }
  .invisiblebottom {
    grid-area: invisiblebottom;
    animation-name: invisiblebottom-a;
    opacity: 0;
  }
  .word {
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-delay: 4s;
    animation-timing-function: cubic-bezier(0.400, -0.265, 0.110, 0.915);
    display: flex;
    align-items: center;
  }
  .static-word {
    display: flex;
    align-items: center;
    opacity: 0;
    animation-name: static-word-load;
    animation-duration: 2.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
  }
}

@keyframes invisibletop-a {
  0% {
    transform: translateY(0px);
    opacity: 0;
  }
  7.142857% {
    transform: translateY($rowHeight);
    opacity: $lightFade;
  }
  14.2857% {
    transform: translateY($rowHeight);
    opacity: $lightFade;
  }
  21.42857% {
    transform: translateY($rowHeight*2);
    opacity: 1;
  }
  28.5714% {
    transform: translateY($rowHeight*2);
    opacity: 1;
  }
  35.7142857% {
    transform: translateY($rowHeight*3);
  }
  42.85714% {
    transform: translateY($rowHeight*3);
  }
  50% {
    transform: translateY($rowHeight*4);
    opacity: 1;
  }
  57.142857% {
    transform: translateY($rowHeight*4);
    opacity: 1;
  }
  64.2857% {
    transform: translateY($rowHeight*5);
    opacity: $lightFade;
  }
  71.42857% {
    transform: translateY($rowHeight*5);
    opacity: $lightFade;
  }
  78.5714% {
    transform: translateY($rowHeight*6);
    opacity: 0;
  }
  85.714285% {
    transform: translateY($rowHeight*6);
    opacity: 0;
  }
  92.85714% {
    transform: translateY(0px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 0;
  }
}

@keyframes fadedtop-a {
  0% {
    transform: translateY(0px);
    opacity: $lightFade;
  }
  7.142857% {
    transform: translateY($rowHeight);
    opacity: 1;
  }
  14.2857% {
    transform: translateY($rowHeight);
    opacity: 1;
  }
  21.42857% {
    transform: translateY($rowHeight*2);
    opacity: 1
  }
  28.5714% {
    transform: translateY($rowHeight*2);
    opacity: 1
  }
  35.7142857% {
    transform: translateY($rowHeight*3);
    opacity: 1;
  }
  42.85714% {
    transform: translateY($rowHeight*3);
    opacity: 1;
  }
  50% {
    transform: translateY($rowHeight*4);
    opacity: $lightFade;
  }
  57.142857% {
    transform: translateY($rowHeight*4);
    opacity: $lightFade;
  }
  64.2857% {
    transform: translateY($rowHeight*5);
    opacity: 0;
  }
  71.42857% {
    transform: translateY($rowHeight*5);
    opacity: 0;
  }
  78.5714% {
    transform: translateY(-$rowHeight);
    opacity: 0;
  }
  85.714285% {
    transform: translateY(-$rowHeight);
    opacity: 0;
  }
  92.85714% {
    transform: translateY(0px);
    opacity: $lightFade
  }
  100% {
    transform: translateY(0px);
    opacity: $lightFade
  }
}

@keyframes middletop-a {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  7.142857% {
    transform: translateY($rowHeight);
    opacity: 1;
  }
  14.2857% {
    transform: translateY($rowHeight);
    opacity: 1;
  }
  21.42857% {
    transform: translateY($rowHeight*2);
    opacity: 1
  }
  28.5714% {
    transform: translateY($rowHeight*2);
    opacity: 1;
  }
  35.7142857% {
    transform: translateY($rowHeight*3);
    opacity: $lightFade;
  }
  42.85714% {
    transform: translateY($rowHeight*3);
    opacity: $lightFade;
  }
  50% {
    transform: translateY($rowHeight*4);
    opacity: 0;
  }
  57.142857% {
    transform: translateY($rowHeight*4);
    opacity: 0;
  }
  64.2857% {
    transform: translateY(-$rowHeight*2);
    opacity: 0;
  }
  71.42857% {
    transform: translateY(-$rowHeight*2);
    opacity: 0;
  }
  78.5714% {
    transform: translateY(-$rowHeight);
    opacity: $lightFade;
  }
  85.714285% {
    transform: translateY(-$rowHeight);
    opacity: $lightFade;
  }
  92.85714% {
    transform: translateY(0px);
    opacity: 1
  }
  100% {
    transform: translateY(0px);
    opacity: 1
  }
}

@keyframes mainboxtext-a {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  7.142857% {
    transform: translateY($rowHeight);
    opacity: 1;
  }
  14.2857% {
    transform: translateY($rowHeight);
    opacity: 1;
  }
  21.42857% {
    transform: translateY($rowHeight*2);
    opacity: $lightFade
  }
  28.5714% {
    transform: translateY($rowHeight*2);
    opacity: $lightFade;
  }
  35.7142857% {
    transform: translateY($rowHeight*3);
    opacity: 0;
  }
  42.85714% {
    transform: translateY($rowHeight*3);
    opacity: 0;
  }
  50% {
    transform: translateY(-$rowHeight*3);
    opacity: 0;
  }
  57.142857% {
    transform: translateY(-$rowHeight*3);
    opacity: 0;
  }
  64.2857% {
    transform: translateY(-$rowHeight*2);
    opacity: $lightFade;
  }
  71.42857% {
    transform: translateY(-$rowHeight*2);
    opacity: $lightFade;
  }
  78.5714% {
    transform: translateY(-$rowHeight);
    opacity: 1;
  }
  85.714285% {
    transform: translateY(-$rowHeight);
    opacity: 1;
  }
  92.85714% {
    transform: translateY(0px);
    opacity: 1
  }
  100% {
    transform: translateY(0px);
    opacity: 1
  }
}

@keyframes middlebottom-a {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  7.142857% {
    transform: translateY($rowHeight);
    opacity: $lightFade;
  }
  14.2857% {
    transform: translateY($rowHeight);
    opacity: $lightFade;
  }
  21.42857% {
    transform: translateY($rowHeight*2);
    opacity: 0
  }
  28.5714% {
    transform: translateY($rowHeight*2);
    opacity: 0;
  }
  35.7142857% {
    transform: translateY(-$rowHeight*4);
    opacity: 0;
  }
  42.85714% {
    transform: translateY(-$rowHeight*4);
    opacity: 0;
  }
  50% {
    transform: translateY(-$rowHeight*3);
    opacity: $lightFade;
  }
  57.142857% {
    transform: translateY(-$rowHeight*3);
    opacity: $lightFade;
  }
  64.2857% {
    transform: translateY(-$rowHeight*2);
    opacity: 1;
  }
  71.42857% {
    transform: translateY(-$rowHeight*2);
    opacity: 1;
  }
  78.5714% {
    transform: translateY(-$rowHeight);
    opacity: 1;
  }
  85.714285% {
    transform: translateY(-$rowHeight);
    opacity: 1;
  }
  92.85714% {
    transform: translateY(0px);
    opacity: 1
  }
  100% {
    transform: translateY(0px);
    opacity: 1
  }
}

@keyframes middlebottom-a {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  7.142857% {
    transform: translateY($rowHeight);
    opacity: $lightFade;
  }
  14.2857% {
    transform: translateY($rowHeight);
    opacity: $lightFade;
  }
  21.42857% {
    transform: translateY($rowHeight*2);
    opacity: 0
  }
  28.5714% {
    transform: translateY($rowHeight*2);
    opacity: 0;
  }
  35.7142857% {
    transform: translateY(-$rowHeight*4);
    opacity: 0;
  }
  42.85714% {
    transform: translateY(-$rowHeight*4);
    opacity: 0;
  }
  50% {
    transform: translateY(-$rowHeight*3);
    opacity: $lightFade;
  }
  57.142857% {
    transform: translateY(-$rowHeight*3);
    opacity: $lightFade;
  }
  64.2857% {
    transform: translateY(-$rowHeight*2);
    opacity: 1;
  }
  71.42857% {
    transform: translateY(-$rowHeight*2);
    opacity: 1;
  }
  78.5714% {
    transform: translateY(-$rowHeight);
    opacity: 1;
  }
  85.714285% {
    transform: translateY(-$rowHeight);
    opacity: 1;
  }
  92.85714% {
    transform: translateY(0px);
    opacity: 1
  }
  100% {
    transform: translateY(0px);
    opacity: 1
  }
}

@keyframes fadedbottom-a {
  0% {
    transform: translateY(0px);
    opacity: $lightFade;
  }
  7.142857% {
    transform: translateY($rowHeight);
    opacity: 0;
  }
  14.2857% {
    transform: translateY($rowHeight);
    opacity: 0;
  }
  21.42857% {
    transform: translateY(-$rowHeight*5);
    opacity: 0
  }
  28.5714% {
    transform: translateY(-$rowHeight*5);
    opacity: 0;
  }
  35.7142857% {
    transform: translateY(-$rowHeight*4);
    opacity: $lightFade;
  }
  42.85714% {
    transform: translateY(-$rowHeight*4);
    opacity: $lightFade;
  }
  50% {
    transform: translateY(-$rowHeight*3);
    opacity: 1;
  }
  57.142857% {
    transform: translateY(-$rowHeight*3);
    opacity: 1;
  }
  64.2857% {
    transform: translateY(-$rowHeight*2);
    opacity: 1;
  }
  71.42857% {
    transform: translateY(-$rowHeight*2);
    opacity: 1;
  }
  78.5714% {
    transform: translateY(-$rowHeight);
    opacity: 1;
  }
  85.714285% {
    transform: translateY(-$rowHeight);
    opacity: 1;
  }
  92.85714% {
    transform: translateY(0px);
    opacity: $lightFade
  }
  100% {
    transform: translateY(0px);
    opacity: $lightFade
  }
}

@keyframes invisiblebottom-a {
  0% {
    transform: translateY(0px);
    opacity: 0;
  }
  7.142857% {
    transform: translateY(-$rowHeight*6);
    opacity: 0;
  }
  14.2857% {
    transform: translateY(-$rowHeight*6);
    opacity: 0;
  }
  21.42857% {
    transform: translateY(-$rowHeight*5);
    opacity: $lightFade
  }
  28.5714% {
    transform: translateY(-$rowHeight*5);
    opacity: $lightFade;
  }
  35.7142857% {
    transform: translateY(-$rowHeight*4);
    opacity: $mediumFade;
  }
  42.85714% {
    transform: translateY(-$rowHeight*4);
    opacity: $mediumFade;
  }
  50% {
    transform: translateY(-$rowHeight*3);
    opacity: 1;
  }
  57.142857% {
    transform: translateY(-$rowHeight*3);
    opacity: 1;
  }
  64.2857% {
    transform: translateY(-$rowHeight*2);
    opacity: $mediumFade;
  }
  71.42857% {
    transform: translateY(-$rowHeight*2);
    opacity: $mediumFade;
  }
  78.5714% {
    transform: translateY(-$rowHeight);
    opacity: $lightFade;
  }
  85.714285% {
    transform: translateY(-$rowHeight);
    opacity: $lightFade;
  }
  92.85714% {
    transform: translateY(0px);
    opacity: 0
  }
  100% {
    transform: translateY(0px);
    opacity: 0
  }
}

@keyframes static-word-load {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
