:host {
  width: 100%;
}

.action-button-container {
  margin: 2em 0;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  ::ng-deep {
    button {
      margin: 1em !important;
    }
  }
}

