/* You can add global styles to this file, and also import other style files */
@import "app/material/theming/theme";
@import "stylesheets/flex";
@import "stylesheets/animate";
@import url('https://fonts.googleapis.com/css?family=Rubik');

.full {
  width: 100%;
  height: 100%;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Rubik', Roboto, "Helvetica Neue", sans-serif !important;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


